{% extends "base.html" %}
{% load static %}
{% block title %}
  Home
{% endblock title %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="container mt-5">
  <div class="row">
    {% for item in blog %}
      <div class="col-7 border border-dark rounded-3">
        {% if item.blog_image %}
          <img src="{{item.blog_image.url}}" alt="Blog Image" class="img-fluid w-50 h-50">
        {% endif %}
        <h4>{{item.title}}</h4>
        <p>{{item.content|safe}}</p>
        <a href="{%  url 'update-blog' item.id %}" class="btn btn-md btn-primary">Update Blog</a>
        <a href="{%  url 'delete-blog' item.id %}" class="btn btn-md btn-danger">Delete Blog</a>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<h1>Home</h1>

{% endblock content %}