{% extends "base.html" %}
{% block title %}
  Change Password
{% endblock title %}
{% block content %}
<div class="container">
  <div class="custom-box">
    <h2 class="text-center fw-bold mb-3">Change Your Password</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label for="old_password" class="form-label fs-4">Old Password</label>
          {{form.old_password}}
           <div class="my-3">
            <div class="row">
              <div class="col-6 d-flex justify-content-start"><a href="#" class="text-decoration-none text-dark fs-5" id="show_password2">Show Password</a></div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label fs-4">New Password</label>
          {{form.new_password1}}
          <div class="my-3">
            <div class="row">
              <div class="col-6 d-flex justify-content-start"><a href="#" class="text-decoration-none text-dark fs-5" id="show_password">Show Password</a></div>
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="password1" class="form-label fs-4">Confirm New Password</label>
          {{form.new_password2}}
          <div class="my-3">
            <div class="row">
              <div class="col-6 d-flex justify-content-start"><a href="#" class="text-decoration-none text-dark fs-5" id="show_password1">Show Password</a></div>
            </div>
          </div>
        </div>
        <div class="mb-3 d-flex flex-row align-items-center justify-content-center">
          <button class="btn btn-lg btn-light text-dark border border-3 rounded-3 border-dark w-100 fs-3 p-2 fw-bold" type="submit">Change Password</button>
        </div>
    </form>
  </div>
</div>
{% endblock content %}